<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="github-fcgames" value="https://nuget.pkg.github.com/FIAP-POS-TECH-TEAM-10/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github-fcgames>
      <add key="Username" value="programichel" />
      <add key="ClearTextPassword" value="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" />
    </github-fcgames>
  </packageSourceCredentials>
</configuration>
