<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="FCGames-GitHub" value="https://nuget.pkg.github.com/FIAP-POS-TECH-TEAM-10/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <FCGames-GitHub>
      <add key="Username" value="FIAP-POS-TECH-TEAM-10" />
      <add key="ClearTextPassword" value="%NUGET_AUTH_TOKEN%" />
    </FCGames-GitHub>
  </packageSourceCredentials>
</configuration>
